{% extends 'base.html' %}

{% load static %}

{% block content %}


    <style>
        body {
            background-color: rgb(255, 255, 255);

        }

    </style>
    <style>
        body{
            max-width: 1000px;
            margin: auto;
        }
        p{
            text-indent: 50px;
        }
    </style>

    <h1 style="background-color: hwb(172 51% 9%);"><center>POLA BILANGAN</center></strong></h1>
    <center><img src="\static\images\pola bilangan cover.jpg" width="350" height="250" alt="">
        <br>
        <img src="\static\images\Peta Konsep Pola Bilangan.png" width="350" height="300" alt="">
    </center>
    <hr>
    <p><strong style="font-weight:normal">Pola bilangan merupakan susunan dari beberapa angka yang dapat membentuk pola tertentu. Dapat diartikan juga sebagai suatu susunan bilangan yang memiliki pola teratur atau bilangan yang tersusun dari beberapa bilangan lain yang membentuk suatu pola. Banyak sekali macam-macam pola bilangan, yaitu pola bilangan ganjil, pola bilangan genap, pola bilangan persegi, dan masih banyak lagi yang akan dibahas lebih lanjut.</p></strong>
			<ol type="A">
			<li>Pola Bilangan Ganjil</li>
			<p><strong style="font-weight:normal">Pola bilangan ganjil merupakan pola bilangan yang terbentuk dari bilangan-bilangan ganjil. Sedangkan pengertian bilangan ganjil adalah suatu bilangan asli yang tidak habis dibagi dua ataupun kelipatannya. Seperti yang terlihat pada gambar, bilangan 1, 3, 5, 7 merupakan contoh dari pola barisan bilangan ganjil.</p></strong>
            <center><img src="\static\images\Pola bilangan Ganjil.jpg" width="250" height="200" alt=""></center>
			<li>Pola Bilangan Genap</li>
			<p><strong style="font-weight:normal">Pola bilangan genap merupakan pola bilangan yang terbentuk dari bilangan-bilangan genap. Sedangkan pengertian bilangan genap itu sendiri adalah suatu bilangan asli yang habis dibagi dua atau kelipatannya. Seperti yang terlihat pada gambar, bilangan 2, 4, 6, 8 merupakan contoh dari pola barisan bilangan genap.</p></strong>
			<center><img src="\static\images\Pola Bilangan Genap.jpg" width="300" height="200" alt=""></center>
			<li>Pola Bilangan Persegi</li>
			<p><strong style="font-weight:normal">Pola bilangan persegi adalah susunan bilangan yang polanya seperti persegi, sehingga dibentuk oleh bilangan kuadrat. Rumus pola bilangan persegi yaitu Un = n2. Seperti yang terlihat pada gambar, bilangan 1, 4, 9, 16 merupakan contoh dari pola barisan bilangan persegi.</p></strong>
			<center><img src="\static\images\Pola Bilangan Persegi.jpg" width="350" height="250" alt=""></center>
			<li>Pola Bilangan Persegi Panjang</li>
			<p><strong style="font-weight:normal">Pola bilangan persegi panjang adalah suatu barisan bilangan yang membentuk pola persegi panjang. Seperti yang terlihat pada gambar, bilangan 2, 6, 12, 20 merupakan contoh dari pola barisan bilangan persegi panjang.</p></strong>
			<center><img src="\static\images\Pola Bilangan Persegi Panjang.jpg" width="350" height="250" alt=""></center>
			<li>Pola Bilangan Segitiga Pascal</li>
			<p><strong style="font-weight:normal">Susunan segitiga pascal dibuat dengan menjumlahkan elemen yang berdekatan dalam baris sebelumnya. Barisan segitiga pascal umumnya dihitung dimulai dengan baris kosong dan nomor-nomor dalam barisan ganjil diatur agar terkait dengan nomor-nomor dalam baris genap. Konsep segitiga pascal adalah melakukan perhitungan tanpa memperhatikan variabel a dan b. Dalam artian cukup memperhatikan koefisien binomialnya. Pola bilangan yang berbentuk menyerupai segitga ini didapat dari rumus Un = 1/2 n (n+1). Contoh dari pola barisan bilangan segitiga pascal bisa dilihat pada gambar.</p></strong>
			<center><img src="\static\images\Pola Bilangan Segitiga Pascal.png" width="350" height="250" alt=""></center>
			</ol>
			<br>

    

{% endblock %}