{% extends 'base.html' %}

{% load static %}

{% block content %}


    <style>
        body {
            background-color: rgb(255, 255, 255);

        }

    </style>
    <style>
        body{
            max-width: 1000px;
            margin: auto;
        }
        p{
            text-indent: 50px;
        }
    </style>

    <h1 style="background-color: hwb(172 51% 9%);"><center>BARISAN DAN DERET BILANGAN</center></strong></h1>
    <center><img src="\static\images\logo.jpg" width="350" height="250" alt=""></center>
   <h2><strong> <center>Latar Belakang</center></strong></h2>
   <br>
			<hr>
			<p><strong style="font-weight:normal">Pola bilangan merupakan susunan dari beberapa angka yang dapat membentuk pola tertentu. Dapat diartikan juga sebagai suatu susunan bilangan yang memiliki pola teratur atau bilangan yang tersusun dari beberapa bilangan lain yang membentuk suatu pola. Tujuan mempelajari pola bilangan dalam matematika, yaitu agar manusia sadar akan pola di dunia kita. Mengamati pola memungkinkan individu untuk mengembangkan kemampuan untuk memprediksi perilaku masa depan organisme dan fenomena alam.</p></strong>
			<p><strong style="font-weight:normal">Pola bilangan matematika sangat berperan penting dalam bidang sains. Insinyur sipil dapat membangun kota yang lebih aman karena pengamatan mereka terhadap pola lalu lintas yang ada. Ahli meteorologi menggunakan pola untuk memprediksi angin topan, badai petir, dan tornado. Seismolog menggunakan pola untuk memprediksi gempa bumi dan tanah longsor. Selain itu, pola bilangan juga dapat ditemukan bukan hanya di pelajaran matematika saja. Namun, pembelajaran sains juga kita dapat menemukan contoh kasus dari pola bilangan, seperti pembelahan sel tubuh, hewan bersel satu seperti Amoeba yang dapat membelah diri seperti halnya sel tubuh.</p></strong>
			<p><strong style="font-weight:normal">Materi pola bilangan merupakan materi yang sudah dijumpai oleh peserta didik sejak di bangku Sekolah Dasar. Namun, materi ini dibahas lebih mendalam di Sekolah Menengah Pertama. Materi pola bilangan memiliki 3 pokok bahasan di dalamnya. Diantara lain, pola bilangan, barisan bilangan, dan deret bilangan. Pola bilangan sendiri ada macam-macamnya, seperti pola bilangan ganjil, pola bilangan genap, pola bilangan persegi, pola bilangan persegipanjang, pola bilangan pascal. Pada barisan bilangan terdapat barisan aritmatika dan barisan geometri. Sama halnya dengan barisan bilangan, deret bilangan juga terdapat deret aritmatika dan deret geometri.</p></strong>
			<p><strong style="font-weight:normal">Menurut peserta didik materi pola bilangan ada yang menganggap tidak sulit dan ada juga yang menganggap materi ini sulit. Bahasan yang mereka anggap sulit tentu berbeda-beda. Oleh karena itu, untuk melihat bahasan apa saja yang peserta didik anggap sulit telah dilakukan observasi dengan cara memberikan kuesioner kepada beberapa responden. Berikut hasil dari kuesioner tersebut.</p></strong>

    <h2><strong> <center>Sekilas</center></strong></h2>
    <hr>
			<p><strong style="font-weight:normal">Setiap tahunnya, jumlah penduduk Indonesia semakin bertambah sesuai dengan jumlah kelahiran dan kematian yang terjadi. Pada gambar (1) terdapat gambar pembelahan sel tubuh (mitosis) yang memiliki pola teratur. Awalnya pembelahan tersebut terjadi saat satu sel membalah menjadi dua sel. Dari dua sel membelah lagi menjadi empat sel, dan seterusnya.</p></strong>
			<p><strong style="font-weight:normal">Banyak cabang setiap tingkat pada akar rumput dan tanduk menjangan memiliki pola yang teratur. Bentuk spiral cangkang keong atau siput memiliki bentuk yang teratur.</p></strong>
			<p><strong style="font-weight:normal">Pada gambar (2) terdapat permainan halma pada gambar. Buah-buahan pada permaiann tersebut yang dapat digunakan adalah berjumlah 6, 10, atau 15. Buah-buahan halma ditempatkan pada titik-titik potong papan halma yang berbentuk pola segitiga. Contoh kejadian di atas dalam matematika, memiliki hubungan erta dengan pola bailangan baris dan deret bilangan.</p></strong>
            <center><img src="\static\images\gambar mitosis.png" width="350" height="250" alt=""><img src="\static\images\gambar halma.jpg" width="350" height="250" alt=""></center>
            <br>
           
{% endblock %}